<div class="container mt-4">
  <div class="row">

    <h4><%= @reflection.schedule.start_time.strftime("%Y-%m-%d") %></h4>

    <div class="col-md-6 mx-auto">
      <h2>
        <i class="fa-solid fa-seedling", style="color: #60EAB1;"></i>
        新規振り返り投稿
        <i class="fa-solid fa-seedling fa-flip-horizontal", style="color: #60EAB1;"></i>
      </h2>
    </div>
  </div>
  <%= render "layouts/errors", obj: @reflection %>
  <%= render partial: 'form', locals: {reflection: @reflection, btn_text: '投稿'} %>

</div>



