<div class="container my-5">

  <!--タグリスト-->
<% Tag.all.each do |tag| %>
  <i class="fa-solid fa-tag"></i>
  <%= link_to "#{tag.name} ( #{tag.reflections.count} )", search_tag_path(tag_id: tag.id) %>
<% end %>



  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <div class="d-flex d-inline">
            <h4><%= @date %></h4>
            <div class="col text-right">
              <%= link_to '追加', new_schedule_path(date: @date), class: "btn btn-outline-secondary" %>
            </div>
          </div>
        </th>
      </tr>
    </thead>

    <%= render 'list', schedules: @schedules, is_link: true %>

  </table>
</div>