<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <%= @date %>
          <%= link_to '追加', new_schedule_path(date: @date) %>
        </th>
      </tr>
    </thead>
    
    <%= render 'list', schedules: @schedules, is_link: true %>
    
  </table>
</div>