<%= render "layouts/errors", obj: @schedule %>
<div class="container">
  <div class="d-flex d-inline mt-4">
      
      <h4><%= @date %></h4>
      <div class="col-md-6 mx-auto">
        <h2>
          <i class="fa-solid fa-seedling", style="color: #60EAB1;"></i>
          新規スケジュール
          <i class="fa-solid fa-seedling fa-flip-horizontal", style="color: #60EAB1;"></i>
        </h2>
      </div>
      
  </div>
  
    <%= render 'form', schedule: @schedule, btn_text: '保存', date: Date.parse(@date) %>

</div>

