<h1>新規スケジュール</h1>

<%#= render 'schedule', schedule: @schedule %>

<%= form_with model: @schedule, url: schedules_path, html: { method: :schedule}, local: true do |f| %>
  <%= render :partial => 'schedule', :locals => {:f => f} %>
<% end %>

