@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Raleway&family=Whisper&display=swap');
@import './simple_calendar';

html, body {
    font-family: 'Raleway', 'M PLUS Rounded 1c', sans-serif;
}

.logo {
    font-family: 'Whisper', cursive;
}

.sub-title {
    font-size: 20px;
}