
<div class="container">

  <!--<div class="row">-->
  <!--  <div class="col-md-6 d-flex justify-content-center align-items-center">-->
  <!--    紹介文-->
  <!--  </div>-->
  <!--  <div class="col-md-6">-->
  <!--    <%#= image_tag "undraw_undraw_undraw_selectoption_y9cm_mx7w_-2-_vjsk.svg", class: "img-fluid d-block mx-auto", style: "height: 150px;" %>-->
  <!--  </div>-->
  <!--</div>-->

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <h6>Tag search for "<%= @tag.name %>"</h6>
        </th>
      </tr>
    </thead>
    <%= render 'schedules/list', schedules: @schedules, is_link: false %>

  </table>
</div>